<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
    <header class="header">
        <div class="mid">
            Song Recommender
        </div>
        <div class="left">
            <img src="../static/music-logo-png-2350.png" alt="img">
            <!-- left -->

        </div>

    </header>
    <div class="container">
        <form action="submit" class="submit" method="POST">
            <textarea name="text" id="text" cols="10" rows="10" class="text"
                placeholder="Write your Favourite Song Here"></textarea>
    
            <input class="btn" type="submit" name="submit"></input>

        </form>



    </div>
</body>

</html>